@font-face {
  font-family: OpenSans;
  src: url(/fonts/OpenSans-Regular.woff2), url(/fonts/OpenSans-Regular.woff),
    url(/fonts/OpenSans-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(/fonts/OpenSans-Bold.woff2), url(/fonts/OpenSans-Bold.woff),
    url(/fonts/OpenSans-Bold.ttf);
  font-weight: bold;
}

/* reset styles css start */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-weight: normal;
  font-family: OpenSans;
}

a:active,
a:focus {
  outline: none;
}

:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow: none;
}

/* reset styles css end */

.wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

/* header styles start */

.header {
  width: 100%;
  padding: 28px 0 126px;
  position: relative;
  background-color: #666666;
  background-image: url(/images/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.header::before {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  z-index: -1;
}

.wrapper-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 179px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.menu-item {
  margin-right: 35px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
}

.menu-link:hover,
.menu-link:focus {
  border-bottom: 1px solid #ffffff;
}

.header-title {
  max-width: 690px;
  min-width: 300px;
  margin: 100px auto 0;
  font-size: 45px;
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}

/* header styles end */

/* trends styles start */

.trends {
  margin-top: 58px;
}

.trends-row {
  display: flex;
  flex-wrap: nowrap;
}

.trends-header {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  margin-bottom: 38px;
}

.trends-header::before {
  content: "";
  position: absolute;
  background-color: #ede8d7;
  width: 66px;
  height: 3px;
  left: calc(50% - 33px);
  bottom: -13px;
}

.trends-category {
  margin-bottom: 9px;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  list-style: none;
}

.trends-category-item {
  margin-right: 19px;
  font-size: 14px;
  line-height: 14px;
}

.trends-category-item:last-child {
  margin-right: 0px;
}

.trends-category-link {
  text-decoration: none;
  color: #b59f5b;
  font-weight: bold;
}

.trends-category-link:hover,
.trends-category-link:focus {
  border-bottom: 1px solid #b59f5b;
}

.trends-list {
  position: relative;
  margin-right: 4px;
  width: 100%;
}

.trends-list:last-child {
  margin-right: 0px;
}

.trends-box {
  height: 320px;
  overflow: hidden;
}

.trends-box::before {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.trends-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.trends-item {
  position: absolute;
  margin: 0 23px 16px;
  padding: 32px;
  width: calc(100% - 23px * 2);
  border: 3px solid rgba(181, 159, 91, 0.6);;
  bottom: 0;
}

.trends-content-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.trends-content-link:hover, .trends-content-link:focus {
  color:#b59f5b
}

/* trends styles end */

.wrapper-main {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 64px 15px;
  margin: 0 auto;
}

/* main styles strat */

.main {
  width: 778px;
}

.post {
  display: flex;
  margin-bottom: 55px;
}

.post:last-child {
  margin-bottom: 0px;
}

.post-image-box {
  width: 381px;
  margin-right: 30px;
}

.post-image {
  width: 381px;
  background-color: #eff6f1;
}

.post-category {
  margin-bottom: 9px;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  list-style: none;
}

.post-category-item {
  margin-right: 19px;
  font-size: 14px;
  line-height: 14px;
}

.post-category-item:last-child {
  margin-right: 0px;
}

.post-category-link {
  text-decoration: none;
  color: #b59f5b;
  font-weight: bold;
}

.post-category-link:hover,
.post-category-link:focus {
  border-bottom: 1px solid #b59f5b;
}

.post-header {
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.post-header-link {
  text-decoration: none;
  color: #000000;
}

.post-header-link:hover,
.post-header-link:focus {
  color: #b59f5b;
}

.accompanying-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 46px;
}

.post-date {
  margin-right: 14px;
  font-size: 12px;
  text-transform: lowercase;
  color: #888888;
}

.post-author {
  font-size: 12px;
  font-weight: bold;
}

.post-content {
  font-size: 15px;
  color: #0f0d0e;
}

.post-content-text {
  margin-bottom: 12px;
  line-height: 22px;
}

/* main styles end */

/* aside styles start */

.aside {
  width: 272px;
}

.latest-post {
  margin-bottom: 62px;
}

.aside-section-titles {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  margin-bottom: 38px;
}

.aside-section-titles::before {
  content: "";
  position: absolute;
  background-color: #ede8d7;
  width: 66px;
  height: 3px;
  left: 104px;
  bottom: -13px;
}

.post-list {
  margin-bottom: 55px;
}

.new-post {
  display: flex;
  margin-bottom: 17px;
}

.new-post-image-box {
  box-sizing: border-box;
  width: 70px;
  min-width: 70px;
  max-width: 70px;
  margin-right: 20px;
}

.new-post-image {
  font-size: 10px;
  width: 70px;
  background-color: #f4f7f6;
}

.latest-post-date {
  font-size: 12px;
  text-transform: lowercase;
  color: #888888;
  line-height: 10px;
  margin-bottom: 5px;
}

.latest-post-header {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.latest-post-link {
  text-decoration: none;
  color: #000000;
}

.latest-post-link:hover,
.latest-post-link:focus {
  color: #b59f5b;
}

.search-form {
  display: flex;
}

.search-input {
  width: 222px;
  height: 48px;
  padding: 0 20px;
  background-color: #f4f7f6;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #f4f7f6;
  border-right: none;
  outline: none;
}

.search-input:focus {
  border: 1px solid #b59f5b;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border-right: none;
}

.search-input:invalid {
  outline: none;
}

.search-button {
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  background-image: url(/svg/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px auto;
}

.search-button:hover,
.search-button:focus {
  background-color: #000000;
  border: none;
  outline: none;
}

.subscribe {
  margin-bottom: 60px;
}

.subscribe-input {
  width: 100%;
  height: 48px;
  margin-bottom: 18px;
  padding: 0 20px;
  background-color: #f4f7f6;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 1px solid #f4f7f6;
}

.subscribe-input:focus {
  border: 1px solid #b59f5b;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.subscribe-input:invalid {
  outline: none;
}

.subscribe-button {
  width: 100%;
  height: 48px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #b59f5b;
  border: none;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #000000;
  border: none;
  outline: none;
}

.tags {
  margin-bottom: 60px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.tags-item {
  margin-right: 5px;
  margin-bottom: 6px;
}

.tags-item-link:hover {
  border: 3px solid #b59f5b;
}

.tags-item-link {
  display: block;
  padding: 6px 14px;
  border: 3px solid #eeeeee;
  font-size: 12px;
  font-weight: bold;
  line-height: 10px;
  color: #0f0d0e;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 12px;
}

.categories-list {
  list-style: none;
}

.categories-item {
  display: flex;
  padding: 11px 0 16px;
  border-bottom: 1px solid #eeeeee;
}

.categories-item:first-child {
  padding-top: 0px;
}

.categories-item-link {
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
  display: block;
  text-decoration: none;
  color: #000000;
}

.categories-item-link:hover {
  color: #b59f5b;
}

.categories-item-sum {
  color: #b59f5b;
  font-size: 12px;
  font-weight: bold;
}

/* aside styles end */

/* footer styles start */

.footer {
  padding-bottom: 41px;
}

.social {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 32px 0;
  background-color: #f4f7f6;
}

.social-item {
  margin-right: 28px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.twitter-ico {
  background-image: url(/svg/004-twitter.svg);
}

.pinterest-ico {
  background-image: url(/svg/001-pinterest.svg);
}

.facebook-ico {
  background-image: url(/svg/002-facebook-logo.svg);
}

.instagram-ico {
  background-image: url(/svg/005-instagram.svg);
}

.tmblr-ico {
  background-image: url(/svg/003-tumblr.svg);
}

.footer-copiright {
  margin-top: 74px;
  text-align: center;
}

.copiright-link {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #999999;
}

/* footer styles end */
